{% load static %}
{% include 'clamor_app/base.html' %}
<!-- Card 1-->
<p>
<div class="container">
    <div class="row">

        <div class="col-sm-3">
        <div class="card" style="width: 22rem;">

            <!-- Slider -->
            <div class="carousel slide" data-ride="carousel">

                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{% static 'images/jordan/jordan1.jpg' %}" alt="jordan1" width="400" height="300">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/jordan/jordan2.jpg' %}" alt="jordan2" width="400" height="300">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/jordan/jordan3.jpg' %}" alt="jordan3" width="400" height="300">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/jordan/jordan4.jpg' %}" alt="jordan4" width="400" height="300">
                    </div>

                  </div>

            </div>
            <!--  slider end  -->
          <div class="card-body">
            <h5 class="card-title" style="color: pink;">JORDON 6</h5>
            <p class="card-text">✅Next to original 💯 ✅Supreme 7a Quality 💯 ✅Best price and Quality Guaranteed💯.</p>
            <a href="https://www.instagram.com/p/COF6OoTBgZ7/?utm_source=ig_web_copy_link"
               class="btn btn-outline-warning">View-Buy</a>
          </div>
        <!--  Card1 Ends  -->
        </div>
        </div>
</p>
<!--------------------------------------------------------------------------------------->
<p>
        <div class="col-sm-3">
        <div class="card" style="width: 22rem;">

            <!-- Slider -->
            <div class="carousel slide" data-ride="carousel">

                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{% static 'images/airforce-women/air1.jpg' %}" alt="airforce-women" width="400" height="300">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/airforce-women/air2.jpg' %}" alt="airforce-women" width="400" height="300">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/airforce-women/air3.jpg' %}" alt="airforce-women" width="400" height="300">
                    </div>
                  </div>

            </div>
            <!--  slider end  -->

          <div class="card-body">
            <h5 class="card-title" style="color: pink;">Airforce shadow (women’s)</h5>
            <p class="card-text">✅Next to original 💯 ✅Supreme 7a Quality 💯 ✅Best price and Quality Guaranteed 💯.</p>
            <a href="https://www.instagram.com/p/COGETHHhmhK/?utm_source=ig_web_copy_link"
               class="btn btn-outline-warning">View-Buy</a>
          </div>
          </div>
          </div>
        <!--  Card2 Ends  -->
</p>
<!--------------------------------------------------------------------------------------->
<p>
        <div class="col-sm-3">
        <div class="card" style="width: 22rem;">

            <!-- Slider -->
            <div class="carousel slide" data-ride="carousel">

                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{% static 'images/jordan/jordanP1.jpg' %}" alt="jordanP1" width="400" height="300">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/jordan/jordanP2.jpg' %}" alt="jordanP2" width="400" height="300">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/jordan/jordanP3.jpg' %}" alt="jordanP3" width="400" height="300">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/jordan/jordanP4.jpg' %}" alt="jordanP4" width="400" height="300">
                    </div>

                  </div>

            </div>
            <!--  slider end  -->
          <div class="card-body">
            <h5 class="card-title" style="color: pink;">JORDON P 23</h5>
            <p class="card-text">✅Next to original 💯 ✅Supreme 7a Quality 💯 ✅Best price and Quality Guaranteed💯.</p>
            <a href="https://www.instagram.com/p/COGKf99BjIx/?utm_source=ig_web_copy_link"
               class="btn btn-outline-warning">View-Buy</a>
          </div>
        <!--  Card3 Ends  -->
        </div>
        </div>
</p>
<!--------------------------------------------------------------------------------------->
<p>
        <div class="col-sm-3">
        <div class="card" style="width: 22rem;">
                  <!-- The slideshow -->
            <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{% static 'images/puma/puma1.jpg' %}" alt="Puma1" width="400" height="300">
                    </div>
            </div>

            <!--  slider end  -->
          <div class="card-body">
            <h5 class="card-title" style="color: pink;">Puma Air</h5>
            <p class="card-text">✅Next to original 💯 ✅Supreme 7a Quality 💯 ✅Best price and Quality Guaranteed💯.</p>
            <a href="https://www.instagram.com/p/COH-7tHBk94/?utm_source=ig_web_copy_link"
               class="btn btn-outline-warning">View-Buy</a>
          </div>
        <!--  Card4 Ends  -->
        </div>
        </div>
</p>
<p>
<!--------------------------------------------------------------------------------------->
        <div class="col-sm-3">
        <div class="card" style="width: 22rem;">

            <!-- Slider -->
            <div class="carousel slide" data-ride="carousel">

                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{% static 'images/nike/nikesneaker1.jpg' %}" alt="Nike" width="400" height="300">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/nike/nikesneaker2.jpg' %}" alt="Nike" width="400" height="300">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/nike/nikesneaker3.jpg' %}" alt="Nike" width="400" height="300">
                    </div>
                  </div>
            </div>
            <!--  slider end  -->
          <div class="card-body">
            <h5 class="card-title" style="color: pink;">Nike Sneaker</h5>
            <p class="card-text">✅Next to original 💯 ✅Supreme 7a Quality 💯 ✅Best price and Quality Guaranteed💯.</p>
            <a href="https://www.instagram.com/p/COIzvZ-hzZr/?utm_source=ig_web_copy_link"
               class="btn btn-outline-warning">View-Buy</a>
          </div>
        <!--  Card5 Ends  -->
        </div>
        </div>
</p>
<!--------------------------------------------------------------------------------------->
<p>
        <div class="col-sm-3">
        <div class="card" style="width: 22rem;">

            <!-- Slider -->
            <div class="carousel slide" data-ride="carousel">

                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{% static 'images/nike/oldschool1.jpg' %}" alt="Nike" width="400" height="300">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/nike/oldschool2.jpg' %}" alt="Nike" width="400" height="300">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/nike/oldschool3.jpg' %}" alt="Nike" width="400" height="300">
                    </div>
                  </div>
            </div>
            <!--  slider end  -->
          <div class="card-body">
            <h5 class="card-title" style="color: pink;">Nike old school</h5>
            <p class="card-text">✅Next to original 💯 ✅Supreme 7a Quality 💯 ✅Best price and Quality Guaranteed💯.</p>
            <a href="https://www.instagram.com/p/COKd2sFBX5N/?utm_source=ig_web_copy_link"
               class="btn btn-outline-warning">View-Buy</a>
          </div>
        <!--  Card6 Ends  -->
        </div>
        </div>
</p>
<!--------------------------------------------------------------------------------------->
<p>
        <div class="col-sm-3">
        <div class="card" style="width: 22rem;">

            <!-- Slider -->
            <div class="carousel slide" data-ride="carousel">

                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{% static 'images/nike/nikesport.jpg' %}" alt="Nike" width="400" height="300">
                    </div>

                  </div>
            </div>
            <!--  slider end  -->
          <div class="card-body">
            <h5 class="card-title" style="color: pink;"> Nike Sport</h5>
            <p class="card-text">✅Next to original 💯 ✅Supreme 7a Quality 💯 ✅Best price and Quality Guaranteed💯.</p>
            <a href="https://www.instagram.com/p/COGMUAThoX2/?utm_source=ig_web_copy_link"
               class="btn btn-outline-warning">View-Buy</a>
          </div>
        <!--  Card7 Ends  -->
        </div>
        </div>
</p>
<!--------------------------------------------------------------------------------------->
<p>
        <div class="col-sm-3">
        <div class="card" style="width: 22rem;">

            <!-- Slider -->
            <div class="carousel slide" data-ride="carousel">

                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{% static 'images/jordan/jordanblack1.jpg' %}" alt="jordan" width="400" height="300">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/jordan/jordanblack2.jpg' %}" alt="jordan" width="400" height="300">
                    </div>
                  </div>
            </div>
            <!--  slider end  -->
          <div class="card-body">
            <h5 class="card-title" style="color: pink;">Jordan Black</h5>
            <p class="card-text">✅Next to original 💯 ✅Supreme 7a Quality 💯 ✅Best price and Quality Guaranteed💯.</p>
            <a href="https://www.instagram.com/p/COHq49wBXSD/?utm_source=ig_web_copy_link"
               class="btn btn-outline-warning">View-Buy</a>
          </div>
        <!--  Card8 Ends  -->
        </div>
        </div>
</p>
<p>
<!--------------------------------------------------------------------------------------->
        <div class="col-sm-3">
        <div class="card" style="width: 22rem;">
            <!-- Slider -->
            <div class="carousel slide" data-ride="carousel">
                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{% static 'images/nike/nikeair1.jpg' %}" alt="nike" width="400" height="300">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/nike/nikeair2.jpg' %}" alt="nike" width="400" height="300">
                    </div>
                  </div>
            </div>
            <!--  slider end  -->
          <div class="card-body">
            <h5 class="card-title" style="color: pink;">Nike Air</h5>
            <p class="card-text">✅Next to original 💯 ✅Supreme 7a Quality 💯 ✅Best price and Quality Guaranteed💯.</p>
            <a href="https://www.instagram.com/p/COLDCEWhqKG/?utm_source=ig_web_copy_link"
               class="btn btn-outline-warning">View-Buy</a>
          </div>
        <!--  Card9 Ends  -->
        </div>
        </div>
</p>
<!--------------------------------------------------------------------------------------->
 <p>
        <div class="col-sm-3">
        <div class="card" style="width: 22rem;">
            <!-- Slider -->
            <div class="carousel slide" data-ride="carousel">
                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{% static 'images/nike/nikerun1.jpg' %}" alt="nike" width="400" height="300">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/nike/nikerun2.jpg' %}" alt="nike" width="400" height="300">
                    </div>
                      <div class="carousel-item">
                      <img src="{% static 'images/nike/nikerun3.jpg' %}" alt="nike" width="400" height="300">
                    </div>
                      <div class="carousel-item">
                      <img src="{% static 'images/nike/nikerun4.jpg' %}" alt="nike" width="400" height="300">
                    </div>
                  </div>
            </div>
            <!--  slider end  -->
          <div class="card-body">
            <h5 class="card-title" style="color: pink;">Nike Run</h5>
            <p class="card-text">✅Next to original 💯 ✅Supreme 7a Quality 💯 ✅Best price and Quality Guaranteed💯.</p>
            <a href="https://www.instagram.com/p/COLDCEWhqKG/?utm_source=ig_web_copy_link"
               class="btn btn-outline-warning">View-Buy</a>
          </div>
        <!--  Card9 Ends  -->
        </div>
        </div>
</p>

</div>
</div>
