{% load static %}
<style>
  .navbar{
    width: 100%;
    display: flex;
    align-items: center;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">
    <img src="{% static 'images/logo.png' %}" class="image"
         alt="logo" width="190" height="100" style="margin-left: 40px; border-radius: 50%;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://www.instagram.com/clamor_in/"
         style="font-family: Ink Free; font-size: 22px; margin-left: 50px;" target="_blank">
        Instagram</a>
    </div>

  </div>
</nav>
<br>
